pinecone==5.0.1
fastapi
uvicorn[standard]
python-multipart
pydantic
PyMuPDF
sentence-transformers
pinecone-client
langchain
langchain-groq
langchain-community
python-dotenv
numpy
torch
torchvision
torchaudio
transformers
scipy
scikit-learn
typing-extensions
requests
aiofiles
